.editor-actions,
.tab-actions {
    opacity: 33% !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
    height: 26px !important;;
    line-height: 26px !important;;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    height: 26px !important;
    line-height: 26px !important;;
}

/* .tabs-and-actions-container {
    height: 26px !important;
} */

/* windows icons */
.window-appicon {
    width: 0px;
    display: none;
}

.window-controls-container {
    opacity: 50% !important;
}

.window-controls-container:hover {
    display: flex !important;
}

#workbench.parts.titlebar>div>div.titlebar-right>div.window-controls-container.primary {
    opacity: 50% !important;
}

/* tab border stuff */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.dirty-border-top>.tab-border-top-container {
    height: 1px !important;
}

.tab.dirty:not(.active) {
    /* border-top-style: none; */
    /* border-bottom: 2px solid rgba(255, 217, 0, 0.5) !important; */
    color: rgba(255, 217, 0, 0.35) !important;
}

.tab.dirty.active {
    /* border-bottom: 2px solid rgba(255, 217, 0, 0.5) !important; */
    color: rgba(255, 217, 0, 0.75) !important;
}

.tab.sticky:not(.active) {
    /* border-top-style: none; */
    /* border-bottom: 2px solid rgba(0, 162, 255, 0.44) !important; */
    color: rgba(0, 162, 255, 0.35) !important;
}

.tab.sticky.active {
    color: rgba(0, 162, 255, 0.75) !important;
}

/* tab fade */
.tab {
    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 33%);
}

/** Extension */
.extension-list-item {
    padding: 0 0 0 8px important!
}


/**
 StatusBar
*/

.monaco-workbench .part.statusbar>.items-container>.statusbar-item {
    color: rgb(70 82 82) !important;
}